<h1>Make a new album</h1>
  <%= form_for @album, :html => {:multipart => true} do |main_form| %>
    <%= main_form.label :name, 'Album Name' %>
    <%= main_form.text_field :name %>
    <div>
      <%= main_form.fields_for :photos, @album.photos.new do |f| %>
        <%= f.hidden_field :album_id %>
        <div class="new_form">
          <%= f.label :name, 'Image Name' %>
          <%= f.text_field :name %>
          <div class="new_form">
            <%= f.file_field :image %>
          </div>
        </div>
      <% end %>
    </div>  
  <%= main_form.submit "submit", :class => "btn btn-primary" %>
<% end %>





