<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <ul class='nav navbar-nav pull-left'>
    <li><%= link_to "Pictr", root_path, :class => "navbar-brand" %></li>
    <li><%= link_to "All Albums", albums_path %></li>
    <li><%= link_to "All Photos", photos_path %></li>
  </ul>  

  <ul class='nav navbar-nav pull-right'>
    <% if user_signed_in? %>
      <li class="navbar-text">Signed in as <%= current_user.username %></li>
      <li><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></li>
    <% else %>
      <li><%= link_to "Sign in", new_user_session_path %></li>
      <li><%= link_to "Sign up", new_user_registration_path %></li>
    <% end %>
    <%= form_tag photos_path, :method => 'get' do %>
      <%= label_tag :search, 'Search photos' %>
      <%= text_field_tag :search %>
      <%= submit_tag 'Search', :class => 'btn btn-primary' %>
    <% end %>

   </ul>
</nav>